# Core dependencies
pandas==2.2.3
numpy==1.26.4
matplotlib==3.8.2
python-dotenv==1.0.0
configparser==6.0.0
requests==2.31.0
loguru==0.7.0

# IQ Option API
git+https://github.com/iqoptionapi/iqoptionapi.git

# Machine Learning
scikit-learn==1.3.2
torch==2.2.0
transformers==4.35.2
torchvision==0.17.0
tulipy==0.4.0
tqdm==4.66.1
joblib==1.3.2

# Utilities
regex
pywin32==306; sys_platform == 'win32'
